#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}
# {{ template_fullpath | regex_replace('^' ~ role_path, role_path | basename) }}

name: {{ docker_project_slug }}

services:

  orbital-sync:
    # https://github.com/mattwebbio/orbital-sync
    image: mattwebbio/orbital-sync:{{ orbital_sync_version }}
    container_name: {{ docker_project_slug }}
    restart: unless-stopped

    network_mode: host

    {{ docker_project_compose_service_additional_options | indent(4) }}

    environment:
      PRIMARY_HOST_BASE_URL: '{{ orbital_sync_primary_pihole.base_url }}'
      PRIMARY_HOST_PASSWORD: '{{ orbital_sync_primary_pihole.password }}'

      {% for item in orbital_sync_secondary_piholes %}
      SECONDARY_HOST_{{ loop.index }}_BASE_URL: '{{ item.base_url }}'
      SECONDARY_HOST_{{ loop.index }}_PASSWORD: '{{ item.password }}'
      {% endfor %}

      INTERVAL_MINUTES: {{ orbital_sync_interval_minutes | default(30) }}
      TZ: {{ timezone | default('UTC') }}
      NODE_TLS_REJECT_UNAUTHORIZED: {{ orbital_sync_tls_reject_unauthorized | default(0) }}
      RUN_ONCE: {{ orbital_sync_run_once | default(false) }}

    labels:
      # What's up Docker? - https://github.com/getwud/wud
      wud.tag.include: ^\d+\.\d+$$
      wud.watch.digest: true

{{ docker_project_compose_additional_options }}
